
main {
    display: grid; 
    grid-template-columns: 1fr 5fr ; 
    gap: 10px 0px; 
    grid-template-areas: 
      "aside header"
      "aside content"
      "aside footer";
      height: 100vh; 
      overflow-x: hidden;
      overflow-y: scroll;
       
  }

/* CONTAINER CLASSE UTIL */
  .container{
    width: 100%;
    padding: 0.6rem 1.5rem;
    padding-left: 33px;
     

}
  /* AQUI COMEÇA O HEADER */

  header { 
      grid-area: header;
      background: #FDF1EB;
     
     
        
}

header .box-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;

 }
 .menu-mobile{
     display: none;
     padding: 6px;
     cursor: pointer;
    
 }


header .texto-header p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #725C5C;
    white-space:normal;
    
}
header .text-header-2 p{
        
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
/* identical to box height */


color: #725C5C;
}


header .language{ 
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 6px 15px;
    font-size: 12px;
    cursor: pointer;
    line-height: 12px;



}

header .language .icon-language img{
    width: 22px;
    height: 21px; 
}


header .select-language select {
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400; 
    background-color: transparent;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    outline: none; 
    border: none;
}


header .usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
   
}
header .usuario .title p{
   
font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height */

text-align: right;

color: #333333;

}
header .usuario a{
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #333333;
    padding-left: 5%;
    text-decoration: none;
}
header .usuario .img-user{
    display: flex;
    align-items: center;
    margin-right: -8%;
    
}

header .usuario .img-user img{
    width: 32px;
    height: 30px;
    border-radius: 50%;
    margin-left: 11px;
    margin-right: 10px;
}
header .usuario .img-user p{
    position: relative;
    color: #fff;
    right: 18px;
    top: -12px;
    width: 15px;
    height: 16px;
    border-radius: 100%;
    background-color: #F85959;
    padding:8px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;


}
/* FIM DO HEADER CABECALHO */




/* COMEÇO DA SESSAO DO CONTENT */
  section.content{ 
      grid-area: content; 
      height: 100vh;
}
section.content .conteudo-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
   width: 100%;
    padding-right: 2%;
    
    
}
section.content .title-principal p{
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #ed7839;
    letter-spacing: 0.01em;
    
    
   
}
section.content .botoes-info{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
    position: relative;
    
}
section.content .botoes-info button{
    border: none;
    border-radius: 6px;
    background-color: #EE7A3A;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    font-size: 13px;
    transition: all ease-in-out .4s;
    color: #fff;
    font-weight: bold;
}

section.content .botoes-info img {
    width: 16px;
    height: 16px;
}
section.content .botoes-info button:hover{
    background-color: #d56c33;
}

section.content .citar-trabalho{
    position: absolute;
    margin-top: 70px;
    white-space: nowrap;
  

}
section.content .citar-trabalho a{
        
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500; 
    font-size: 16px;
    letter-spacing: 0.01em;
    cursor: pointer;
    color: #ED7839;
    text-decoration: none;
  
    
}

section.content  .box-conteudo{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    gap:15px;
    width: 100%;
    padding-right: 2%;
}

.box-video{
    width: 100%;
    height: 100%;
}

section.content .box-conteudo .video-content{
  
  width: 100%;
  
  height:395px;
  border: none;
}

section.content .title-detalhe h2{
    border-bottom:solid  1px #ececec ;
    padding: .5rem;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    font-weight: 700;
    color: #4e4e4e;
}


section.content .detalhe-descricao{
    border: solid 1px #ececec;
    border-top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    width: 240px;
    height:354px;
    padding: 15px;
}

section.content .detalhe-descricao::-webkit-scrollbar {
    width: 3px;
}

section.content .detalhe-descricao::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(153, 153, 153, 0.6);
    border-radius:5px;
}

section.content .detalhe-descricao::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgb(121, 119, 119)
}

  
section.content .detalhe-descricao  p{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12.3px;
    letter-spacing: 0.04em;
    color: #5C5C5C;
}
section.content .detalhe-autor p, 
.detalhe-universidades p{
    margin-top: 22px;
    display: flex;
    flex-direction: column;

    
}
section.content .detalhe-autor p{
    color: #726c6c;
    font-size: 14px;
}
section.content .detalhe-universidades p{
    color: rgb(177, 176, 176);
}


/* medias screen responsivo */
    /* @media (max-width: 1055px) {
        .box-conteudo .box-video .video-content{
            width: 105% !important;
           
        }
        
    } */

 @media(max-width: 780px){
     
     main {
        display: grid; 
        grid-template-columns: 1fr ; 
        grid-template-areas: 
        'header',
        'content',
        'footer';
      }
      .menu-mobile{
        display: block;
        position: fixed;
       
        
    }
   aside{
       display: none;
   }
  
    
  
   .texto-header .text-header-2 p{
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
   
 
   }
   .texto-header .text-header-1 p,
   .texto-header .text-header-3 p{
    font-size: 11px;
    line-height: 15px;
    
  
   }
   
   section.content .title-principal p{
       font-size: 15px;
        margin-bottom: 13px !important;
   }
   
/* section.content .botoes-info button{
    padding: 10px 15px;
    font-size: 11px;
   
}

section.content .botoes-info img,
seciton.content .botoes-info svg{
    width: 16px;
    height: 16px;
} */

  
 }

 @media (max-width: 470px) {

    .container{
        width: 100%;
        padding: 0.3rem 5.8rem;
        padding-left: 31px;
   
    }
    header .box-cabecalho{
        flex-direction: column;
        gap: 13px 0;
       text-align: center;
       margin: 8px 60px;
       
    

    }
    
 
    .texto-header .text-header-2 p{
        font-size: 13px;
        line-height: 17px;
       
       font-weight: 700;
      
       }
       .texto-header .text-header-1 p, 
       .texto-header .text-header-3 p{
       font-size: 12px;
        line-height: 15px;
      
      
     
       }
    

    section.content .conteudo-principal{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 50px;
        
        
    }
    section.content .title-principal p{
        font-size: 14px;
        margin-bottom: 30px;

    }

section.content .box-conteudo{
  
    display: flex;
    flex-direction: column;
  
}

section.content .title-detalhe h2{

    font-size: 20px;
}

section.content .detalhe-descricao{
    width: 100%;
}

header .language{
    padding: 6px 35px;
 }

}



@media (max-width: 378px) {

    .container{
        width: 90.5%;
        padding: 0.3rem 5.8rem;
        padding-left: 31px;
    
    }
}


@media (max-width: 350px) {

    .container{
        width: 85%;
        padding: 0.3rem 5.8rem;
        padding-left: 31px;
    
    }
}

@media (max-width: 333px){

    .container{
        width: 85%;
        padding: 0.3rem 5.8rem;
        padding-left: 31px;
    
    }
    .box-conteudo .box-video .video-content{
        width: 280px !important;
        height: 200px !important;
    }
    section.content .title-principal p{
        font-size: 11px;
        text-align: left;
       
    }
    section.content .detalhe-descricao p{
        font-size: 9px;
    }
}

